
.viruscount-contain{
    display:flex;
    flex-direction: row;
    padding-top: 7%;
}


.currentvirus{
    padding-top: 10%;
    padding-right: 10px;
    font-family: 'Common Pixel', sans-serif;
    font-size: large;
    font-style: oblique;
    text-shadow: black 2px 2px;
    color: rgb(236, 240, 0);
    
}