#board {
  display: grid;
  grid-template-columns: repeat(8,128px);
  grid-template-rows: repeat(8,90px);
  width: 1024px;
  height: 450px;
  background-color: rgb(9, 61, 16);
  opacity: 0.95;
}

#board .tile{
  
  border-style: solid;
  border-width: medium;
  border-color: black;
}