button {
    display: flex;
    background: url("/my-react/src/assets/btn/startButton.png");
    background-size:contain ;
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}

#close-image img {
    display: block;
    height: 130px;  
    width: 100px;
}

#close-CSS  {
    background-image: url();
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}

