#AntiBar{
    display: block;
    /* width: 506px;
    height: 130px; */
    
}

#AntiItem:hover{
    cursor: pointer;
}

.Pictures {
    margin: 10px;
}

img {
    margin: 5px;
  }

img:hover{
  cursor: pointer;
}



.board {
  
    width: 300px;
    height: 500px;
    border: 2px solid black;
  
}