.carin{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 640px;
    width: 1024px;

}

.canvas{
  display: block;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}




.carin-screen{
    position: relative;
    background: url(../assets/background/background.png);
    width: 1024px;
    height:640px;   
    
}

.cell{
    background: url(../assets/background/cell.png);
    background-size: cover;
    height: 550px;
    top: 35px;
}

.grid{
    position:absolute;
    padding-top: 10%;
    
}

.anti-bar{
    position:absolute ;
    top: 2080px;
    
}

.contain{
    width: 480px;
    margin: auto;
    margin-top: 30px;
}

.head{

}

.carin-contain{

}

.status-contain{
    background-color: cornflowerblue;
    
}