.container {
    max-width:100%;
    margin: 0 auto;
    
  }
  
  .about{
    background-color: rgb(71, 70, 70);
    height:720px;
    
  }
  
  .about-bg{
    height: fit-content;
    
  }
  
  .about-con{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-text{
    color: #fff;   
    text-align: center;
    padding-top: 0px;
    height: 20px;
    font-family: 'Common Pixel', sans-serif;
  }
  
  #down {
    margin-top: 100%; 
    padding-bottom: 25%;
   }
  
  html {
    scroll-behavior: smooth;
  }