.container {
    max-width:100%;
    margin: 0 auto;
    
}

.game-bg{
    background-color: rgb(71, 70, 70);
    height: fit-content;
    height:768px;
    
}

.game-con{
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-text{
    color: #fff;   
    text-align: center;
    padding-top: 120px;
    height: 20px;
}

#down {
    margin-top: 100%;
    padding-bottom: 25%;
   }

html {
    scroll-behavior: smooth;
}